@model IEnumerable<FootballApplication.Models.PlayerDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Player/New">NewPlayer</a>
@foreach(var player in Model)
            {
                <h2><a href="/Player/Details/@player.PlayerID">@player.PlayerName</a></h2>
                <div>Position:@player.PlayerPosition</div>
                <div>Team:@player.TeamName</div>
            }