@model FootballApplication.Models.VenueDto

@{
    ViewBag.Title = "Delete Venues";
}

<a href="/Venue/List">Go Back to List</a>
<h2>Delete Venue</h2>

<h3>Are you sure you want to delete this venue?</h3>
<div>
    <h4>Venue Details</h4>
    <hr />
    <dl>
        <dt>Name:</dt>
        <dd>@Model.VenueName</dd>
        <dt>Location:</dt>
        <dd>@Model.VenueLocation</dd>
    </dl>

    <form action="/Venue/Delete/@Model.VenueID" method="POST">
        <input type="submit" value="Delete" />
    </form>
</div>