
@{
    ViewBag.Title = "Create";
}


<h2>Create Team</h2>
<form action="/Team/Create" method="POST">
    <div>
        <label>Name: </label><input type="text" name="TeamName" />
    </div>
    <div>
        <label>Bio: </label><textarea name="TeamBio"></textarea>
    </div>
    <div>
        <input type="submit" value="Add Team" />
    </div>
</form>