@model FootballApplication.Models.TeamDto

@{
    ViewBag.Title = "Details";
}

<nav>
    <ul>
        <li><a href="/Team/List">Go back to list</a></li>
        <li><a href="/Team/Edit/@Model.TeamID">Edit</a></li>
        <li><a style="color:#ab2020;" href="/Team/DeleteConfirm/@Model.TeamID">Delete</a></li>
    </ul>
</nav>

<h2>@Model.TeamName</h2>
<div>Team Bio: @Model.TeamBio</div>