@model FootballApplication.Models.TeamDto

@{
    ViewBag.Title = "Edit";
}

<h2>Update Team</h2>

<form action="/Team/Update/@Model.TeamID" method="POST">
    <input type="hidden" name="TeamID" value="@Model.TeamID" />
    <div>
        <label>Name: </label><input type="text" name="TeamName" value="@Model.TeamName" />
    </div>
    <div>
        <label>Bio: </label><textarea name="TeamBio">@Model.TeamBio</textarea>
    </div>
    <div>
        <input type="submit" value="Update Team" />
    </div>
</form>
<div>
    <a href="/Team/List">Back to List</a> |
    <a href="/Team/DeleteConfirm/@Model.TeamID">Delete</a>
</div>