@model IEnumerable<FootballApplication.Models.TeamDto>

@{
    ViewBag.Title = "List";
}


<h2>List of Teams</h2>
<a href="/Team/Create">New Team</a>
@foreach (var team in Model)
{
    <h2><a href="/Team/Details/@team.TeamID">@team.TeamName</a></h2>
}